#root {
  max-width: 1280px !important;
  margin: 0 auto !important;
  padding: 2rem !important;
  text-align: center !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important; 
  right: 0 !important;
  bottom: 0 !important;
}

.logo {
  height: 6em !important;
  padding: 1.5em !important;
  will-change: filter !important;
  transition: filter 300ms !important;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa ) !important;
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa) !important;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg) !important;
  }
  to {
    transform: rotate(360deg) !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear !important;
  }
}

.card {
  padding: 2em !important;
}

.read-the-docs {
  color: #888 !important;
}

.nav_main{
  padding: 1.5em !important;
}
